################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_ReSharper.Caches/ReSharperPlatformVs16192_df5a6f63.HelloWorld.00
